.suggs{
    width: 100%;
    background: #fff;
    padding-top: 0px;
    position: absolute;
    top: 85px;
    left: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;

    .sug{
        // width: 100%;
        background: #fff;
        padding: 8px 30px;

        .fa-clock{
            color: #888;
            margin-right: 20px;
            font-size: 16px;
        }

        &:hover{
            background: #d0cece;
        }
    }
}